.commentInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0px;
    border-bottom: dashed 0.5px lightgray;
}

.commentContent {
    font-size: 16px;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: dashed 0.5px lightgray;
    text-align: justify;
}

.deleteButton {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 35px;
    border-radius: 40px;
    border: dashed 1px #f25a5a;
    color: #f25a5a;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.deleteButton:hover {
    border-color: lightblue;
    border-style: solid;
    background-color: whitesmoke;
}

.deleteButton:disabled {
    border-color: gray;
    background-color: lightgray;
    color: gray;
}