.editPostContainer {
    margin-top: 150px;
}

.editPostTitle {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
}

.fileButton {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-left: 15px;
    height: 35px;
    border-radius: 40px;
    border: dashed 1px;
    cursor: pointer;
}

.editPostContent {
    background-color: white;
    outline: none;
    border-radius: 0;
    color: black;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.submitButton {
    background-color: #0f3e3c;
    color: white;
    border: none;
    padding: 10px;
    margin: 20px 10px 20px 0;
    width: 150px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #387e5d;
}

.thumbnailPreview {
    width: 90%;
    height: auto;
    object-fit: cover;
    border: 1px solid lightsteelblue;
    padding: 10px;
    margin-bottom: 15px;
}