.postContainer {
    margin: 20px 0;
}

.postInfo {
    padding: 5px;
    padding-bottom: 0px;
}

.postAction {
    display: flex;
    padding: 10px 5px;
}

.postInfoButton {
    font-size: 16px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    border: dashed 1px;
    cursor: pointer;
    position: relative;
}

.postInfoButton:hover {
    border-color: lightblue;
    border-style: solid;
    background-color: whitesmoke;
}

.postInfoButton:disabled {
    border-color: gray!important;
    color: gray!important;
    border-style: dotted;
    background-color: whitesmoke;
}