.bannerSliderContainer {
    box-shadow: 6px 6px 10px hsl(206.5, 0%, 75%);
    border-bottom: 0.5px lightblue solid;
    overflow: hidden;
}

.bannerImage {
    max-height: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}