.bannerSliderContainer {
    box-shadow: 6px 6px 10px hsl(206.5, 0%, 75%);
    border-bottom: 0.5px lightblue solid;
    overflow-x: hidden;
}

.bannerImage {
    max-height: 50%;
    width: 100%;
    aspect-ratio: 55/19;
    object-fit: cover;
}