.errorContainer {
    margin-top: 150px;
    margin-bottom: 50px;
}

.alternativeTitle {
    font-size: 24px;
    font-weight: 450;
    color: #0f3e3c;
    margin-bottom: 30px;
}

.option {
    color: #0f3e3c;
}

.option:hover {
    color: #387e5d;
    text-decoration: underline;
}