.commentTitle {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    border-top: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
}

.leaveComment {
    width: 90%;
    background-color: whitesmoke;
    padding: 10px 20px;
}

.leaveTitle {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}

.rememberComment {
    display: flex;
    align-items: center;
}

.commentTextarea {
    background-color: white;
    outline: none;
    border-radius: 0;
    color: black;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.commentButton {
    background-color: #0f3e3c;
    color: white;
    border: none;
    padding: 10px;
    margin: 20px 10px 20px 0;
    width: 150px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
}

.commentButton:hover {
    background-color: #387e5d;
}

.commentButton:disabled {
    background-color: #3d4944;
    color: gray;
}

.background:hover {
    background-color: #387e5d;
}

.background:disabled {
    background-color: #3d4944;
    color: gray;
}

.postComments {
    margin-bottom: 50px;
}

.errorMsg {
    color: #f25a5a;
    margin-top: 0;
}

.showMore {
    color: #0f3e3c;
    text-align: center;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-bottom: dashed 0.5px lightgray;
    padding-bottom: 16px;
    margin-top: 0;
    margin-bottom: 16px;
    background-color: transparent;
    transition: all ease-in-out 0.1s;
    position: relative;
}

.showMore:hover {
    color: #387e5d;
    border-color: #387e5d;
    text-decoration: underline;
}

.showMore:disabled {
    color: gray;
}