a {
    text-decoration: none;
    color: inherit;
}

.postContentContainer p img {
    width: 80%;
    margin-left: 10%;
    height: auto;
    object-fit: cover;
}

.postContentTitle {
    width: 100%;
    text-align: left;
    margin: 10px 0 0 0;
    font-size: 22px;
    font-weight: 450;
    color: #333333;
}

.postContentInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 0px;
}

.leftInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.rightInfo {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.info {
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: #666666;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.infoButton {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 0 15px;
    height: 35px;
    border-radius: 40px;
    background-color: white;
    border: dashed 1px;
    cursor: pointer;
    position: relative;

    @media (max-width: 768px) {
        padding: 0 8px;
        font-size: 14px;
    }
}

.infoButton.delete {
    margin-left: 15px;

    @media (max-width: 768px) {
        margin-left: 8px;
    }
}

.infoButton:hover {
    border-color: lightblue;
    border-style: solid;
    background-color: whitesmoke;
}

.infoButton:disabled {
    border-color: gray!important;
    color: gray!important;
    border-style: dotted;
    background-color: whitesmoke;
}

.postContent {
    width: 100%;
    padding: 10px 0;
}

.postContentThumbnail {
    width: 90%!important;
    height: 90%!important;
    object-fit: cover;
    border: 1px solid lightsteelblue;
    padding: 10px;
    margin-bottom: 20px;
}

.postContentDescription {
    text-align: justify;
    font-weight: bold;
    font-style: italic;
    line-height: 26px;
}

.postContentMarkdown {
    text-align: justify;
    line-height: 26px;
}

.authorInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: gray;
    font-style: italic;
    transition: all ease-in-out 0.1s;
}

.authorInfo figcaption {
    display: flex;
    align-items: center;
}

.authorInfo figcaption:hover {
    color: lightblue;
    text-decoration: underline;
}

.tagInfo {
    display: flex;
    align-items: center;
}

.tagsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tagsList li {
    float: left;
    padding: 8px;
}

.tag {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #333333;
    margin-right: 10px;
    white-space: nowrap;
}

.smallTag {
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 15px;
    transition: all ease-in-out 0.1s;
    cursor: pointer;
    white-space: nowrap;

    @media (max-width: 768px) {
        font-size: 14px;
        padding: 2px 5px;
    }
}

.smallTag:hover {
    background-color: lightblue;
    color: darkslategray;
}

