a {
    text-decoration: none;
    color: inherit;
}

.postContentTitle {
    width: 100%;
    text-align: left;
    margin: 10px 0 0 0;
    font-size: 22px;
    font-weight: 450;
    color: #333333;
}

.postContentInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 0px;
}

.info {
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: #666666;
}

.infoButton {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 0 15px;
    margin-left: 15px;
    height: 35px;
    border-radius: 40px;
    background-color: white;
    border: dashed 1px;
    cursor: pointer;
}

.infoButton:hover {
    border-color: lightblue;
    border-style: solid;
    background-color: whitesmoke;
}

.postContent {
    width: 100%;
    padding: 10px 0;
}

.postContentThumbnail {
    width: 95%;
    height: auto;
    object-fit: cover;
    border: 1px solid lightsteelblue;
    padding: 10px;
    margin-bottom: 20px;
}

.postContentDescription {
    text-align: justify;
    font-weight: bold;
    font-style: italic;
    line-height: 26px;
}

.postContentMarkdown {
    text-align: justify;
    line-height: 26px;
}

.authorInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: gray;
    font-style: italic;
    transition: all ease-in-out 0.1s;
}

.authorInfo figcaption:hover {
    color: lightblue;
    text-decoration: underline;
}

.tagInfo {
    display: flex;
    align-items: center;
}

.tag {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #333333;
    margin-right: 10px;
}

.smallTag {
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 10px;
    transition: all ease-in-out 0.1s;
    cursor: pointer;
}

.smallTag:hover {
    background-color: lightblue;
    color: darkslategray;
}

