.profileContainer {
    margin-top: 150px;
}

.profileWrapper {
    padding: 20px;
    margin-bottom: 50px;
}

.alternativeTitle {
    font-size: 24px;
    font-weight: 450;
    color: #0f3e3c;
    margin-bottom: 30px;
}

.infoButton {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 0 15px;
    height: 35px;
    border-radius: 40px;
    background-color: white;
    border: dashed 1px;
    cursor: pointer;
    position: relative;
}

.infoButton:hover {
    border-color: lightblue;
    border-style: solid;
    background-color: whitesmoke;
}

.infoButton:disabled {
    border-color: gray!important;
    color: gray!important;
    border-style: dotted;
    background-color: whitesmoke;
}

.profileInfoStack {
    height: 40px;
    display: flex;
    align-items: center;
}

.successMsg {
    color: #4fc54b;
    margin-top: 0;
}