.servicePostContainer {
    position: relative;
    text-align: center;
}

.servicePostImage {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.servicePostTitle {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 12px 0;
    bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
}