.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-bottom: 30px;
    box-shadow: 6px 6px 10px hsl(206.5, 0%, 75%);
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
}

.video-skeleton {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 30px;
    box-shadow: 6px 6px 10px hsl(206.5, 0%, 75%);
}