.newPostContainer {
    margin-top: 16px;

    @media (min-width: 768px) {
        margin-top: 24px;
    }
}

.newPostTitle {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
}

.fileButton {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-left: 15px;
    height: 35px;
    border-radius: 40px;
    border: dashed 1px;
    cursor: pointer;
    background-color: white;
    color: #0f3e3c;
    border-color: #0f3e3c;
}

.fileButton:hover {
    color: #387e5d;
    border-color: #387e5d;
    border-style: solid;
    background-color: whitesmoke;
}

.newPostContent {
    background-color: white;
    outline: none;
    border-radius: 0;
    color: black;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.submitButton {
    background-color: #0f3e3c;
    color: white;
    border: none;
    padding: 10px;
    margin: 20px 10px 20px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
}

.submitButton:hover {
    background-color: #387e5d;
}

.submitButton:disabled {
    background-color: #3d4944;
    color: gray;
}

.thumbnailPreview {
    width: 90%;
    height: auto;
    object-fit: cover;
    border: 1px solid lightsteelblue;
    padding: 10px;
    margin-bottom: 15px;
}

.removeButton {
    color: #f25a5a;
    border-color: #f25a5a;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-top: 15px;
    height: 35px;
    border-radius: 40px;
    border: dashed 1px;
    cursor: pointer;
    position: absolute
}

.removeButton:hover {
    color: #f16d6d;
    border-color: #f16d6d;
    border-style: solid;
    background-color: rgb(243, 198, 198, 0.3);
}